* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-size: 10px;
  color: white;
  background: #1f2126;
  font-family: "Stick No Bills", "arial", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #1f2126;
  -webkit-box-shadow: 0 0 4px 0 #727271;
          box-shadow: 0 0 4px 0 #727271;
}

.wrapper__section {
  height: 100vh;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 5vh;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.icons__link {
  margin: 5px 5px;
  padding: 10px 10px;
  font-size: 30px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}

.icons__link:hover {
  color: yellow;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 10vh;
  background-color: #090a0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu__item {
  margin: auto 20px;
}

.menu__link {
  font-size: 45px;
  line-height: 50px;
  display: block;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-color: yellow;
  color: yellow;
}

.fixed {
  position: fixed;
  background-color: #090a0c;
  top: 200px;
  left: calc(50% - 600px);
  z-index: 5;
}

.fixed__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  list-style: none;
  width: 60px;
  height: 250px;
  margin: 5px 5px;
}

.fixed__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 35px;
  line-height: 35px;
}

.fixed__link {
  display: block;
  color: white;
  padding: 5px;
  border-right: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.fixed__link:hover {
  border-right: 2px solid yellow;
}

.s1 {
  background-color: #727271;
  position: relative;
  height: 100vh;
}

.s1__boxA {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  top: 50px;
  margin-left: 150px;
  margin-top: 50px;
  width: 250px;
  height: 500px;
  background-color: #1f2126;
}

.s1__boxA img {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px 0;
}

.s1__boxA h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  background-color: #090a0c;
}

.s1__boxA ul {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s1__boxA li {
  font-size: 25px;
  margin: 10px 0;
}

.s1__boxB {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 800px;
  height: 500px;
  padding: 30px 50px;
  text-align: center;
  color: #090a0c;
}

.s1__boxB h1 {
  font-size: 70px;
  line-height: 70px;
}

.s1__boxB h2 {
  font-size: 40px;
  line-height: 80px;
}

.s1__boxB span {
  font-size: 30px;
  line-height: 40px;
}

.s2 {
  background-color: #879abf;
  width: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.s2 .project {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s2 h1 {
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid white;
  margin: 20px 0;
}

.s2__web {
  float: left;
  height: 350px;
  width: 500px;
}

.s2__web img {
  -webkit-box-shadow: 0 0 10px 0 black;
          box-shadow: 0 0 10px 0 black;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.s2__about {
  float: left;
  padding: 20px 40px;
  height: 350px;
  width: 500px;
}

.s2__about h2 {
  font-size: 40px;
  line-height: 80px;
}

.s2__about p {
  font-size: 30px;
  line-height: 30px;
}

.s2__about a {
  font-size: 40px;
  line-height: 120px;
  color: white;
  margin: 0 50px;
}

.s3 {
  background-color: #3f3f3f;
  width: inherit;
}

.s3 h1 {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid white;
  margin: 10px 0;
}

.s3__listA {
  list-style: none;
  font-size: 30px;
  line-height: 50px;
  padding: 30px 100px;
}

.s3__listB {
  font-size: 30px;
  list-style: none;
  padding: 30px 100px;
}

.s4 {
  background-color: #1f2126;
  width: inherit;
}

.s4 h1 {
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid white;
  margin: 40px 0;
  text-align: center;
}

.s4__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.s4__form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  line-height: 60px;
  width: 800px;
  text-indent: 20px;
  margin: 20px 0;
}

.s4__form textarea {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 800px;
  font-size: 30px;
  line-height: 60px;
  text-indent: 20px;
  margin: 20px 0;
}

.s4__form .send {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  line-height: 80px;
  font-family: "Stick No Bills", "arial", sans-serif;
  font-weight: 600;
  width: 200px;
  cursor: pointer;
  text-indent: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #090a0c;
}

.footer__link {
  margin: 0 20px;
  font-size: 50px;
  line-height: 50px;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */