* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  font-size: 10px;
  color: #f2f2f2;
  font-family: "Stick No Bills", "arial", sans-serif;
  background: #b7bbbf;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  background-color: #283f30;
  -webkit-box-shadow: 0 0 4px 0 #f1b24a;
          box-shadow: 0 0 4px 0 #f1b24a;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.icons__link {
  margin: 5px 5px;
  padding: 10px 10px;
  font-size: 30px;
  line-height: 30px;
  color: #f2f2f2;
  cursor: pointer;
}

.icons__link:hover {
  color: #f1b24a;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 100px;
  background-color: #0c0c0c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.menu__item {
  margin: auto 20px;
}

.menu__link {
  font-size: 45px;
  line-height: 50px;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.menu__link:hover {
  border-color: #f1b24a;
  color: #f1b24a;
}

.fixed {
  position: fixed;
  background-color: #0c0c0c;
  top: 200px;
  left: calc(50% - 600px);
  z-index: 5;
}

.fixed__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  list-style: none;
  width: 60px;
  height: 250px;
  margin: 5px 5px;
}

.fixed__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 35px;
  line-height: 35px;
}

.fixed__link {
  display: block;
  color: #f2f2f2;
  padding: 5px;
  border-right: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.fixed__link:hover {
  border-right: 2px solid #f1b24a;
}

.s1 {
  background-color: #52725d;
  position: relative;
  height: 700px;
}

.s1__boxA {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  top: 50px;
  margin-left: 150px;
  margin-top: 50px;
  width: 250px;
  height: 500px;
  background-color: #283f30;
}

.s1__boxA img {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 10px 0;
}

.s1__boxA h1 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  background-color: #0c0c0c;
}

.s1__boxA ul {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.s1__boxA li {
  font-size: 25px;
  margin: 10px 0;
}

.s1__boxB {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 800px;
  height: 500px;
  padding: 30px 50px;
  text-align: center;
}

.s1__boxB h1 {
  font-size: 70px;
  line-height: 70px;
}

.s1__boxB h2 {
  font-size: 40px;
  line-height: 80px;
}

.s1__boxB span {
  font-size: 30px;
  line-height: 40px;
}

.s2 {
  background-color: #283f30;
  height: 1500px;
  width: inherit;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.s2 h1 {
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid #f2f2f2;
  margin: 50px 0;
}

.s2__project {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 400px;
  width: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-shadow: 0 0 5px 0 black;
          box-shadow: 0 0 5px 0 black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.s2__project:nth-of-type(1) {
  background-image: url(../img/animatedHamburgers.png);
}

.s2__project:nth-of-type(2) {
  background-image: url(../img/photoGallery.png);
}

.s2__project:nth-of-type(3) {
  background-image: url(../img/whiteDwarf.png);
}

.s2__project:hover {
  background-size: 120%;
}

.s2__about {
  height: inherit;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 100px 40px;
}

.s2__about h2 {
  font-size: 40px;
  line-height: 80px;
}

.s2__about p {
  font-size: 30px;
  line-height: 30px;
}

.s2__about a {
  font-size: 40px;
  line-height: 120px;
  color: #f2f2f2;
  margin: 0 50px;
}

.s2__about:hover {
  opacity: 1;
}

.s3 {
  background-color: #52725d;
  height: 1000px;
  width: inherit;
}

.s3 h1 {
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid #f2f2f2;
  margin: 50px 0;
}

.s3__listA {
  font-size: 40px;
  margin: 20px 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s3__listA i {
  margin: 0 20px;
  font-size: 80px;
  color: #f1b24a;
}

.s3__listB {
  font-size: 30px;
  list-style: none;
  padding: 30px 100px;
}

.s4 {
  background-color: #283f30;
  height: 1150px;
  width: inherit;
}

.s4 h1 {
  font-size: 80px;
  line-height: 80px;
  border-bottom: 2px solid #f2f2f2;
  margin: 80px 0;
  text-align: center;
}

.s4__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.s4__form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 30px;
  line-height: 60px;
  width: 800px;
  text-indent: 20px;
  margin: 20px 0;
}

.s4__form textarea {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 800px;
  font-size: 30px;
  line-height: 60px;
  text-indent: 20px;
  margin: 20px 0;
}

.s4__form .send {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 40px;
  line-height: 80px;
  font-family: "Stick No Bills", "arial", sans-serif;
  font-weight: 600;
  width: 200px;
  cursor: pointer;
  text-indent: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c0c0c;
}

.footer__link {
  margin: 0 20px;
  font-size: 50px;
  line-height: 50px;
  color: #f2f2f2;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */