html {
    font-size: 10px;
    color: white;
    background: $bg-main-color;
    font-family: $special-font;
}

.wrapper {
    //kontener
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    // pozycja i wielkość
    width: 1200px;
    // min-height: 90vh;
    margin: 0 auto;
    //wygląd      
    background-color: $bg-main-color;
    box-shadow: 0 0 4px 0 $grey-color;

    &__section {
        height: 100vh;
        flex-basis: 100%;
    }
}  