html {
    font-size: 10px;
    color: $light-color;
    font-family: $special-font;
    background: $bg-color;
}

.wrapper {
    //kontener
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    // pozycja i wielkość
    width: 1200px;
    height: auto;
    margin: 0 auto;
    //wygląd      
    background-color: $projects-color;
    box-shadow: 0 0 4px 0 $bright-color;
    // &__section {
    //     min-height: 100vh;
    // }
}  
   