.footer {
    // pozycja i wielkość
    display: flex;
    flex-basis: 100%;
    // height: 70px;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: $menu-color;

    &__link {
        margin: 0 20px;
        font-size: 50px;
        line-height: 50px;
        color: white;
        cursor: pointer;
    }
}