.s3 {
    background-color: $home-color;
    height: 1000px;
    width: inherit;

    h1 {
        text-align: center;
        font-size: 80px;
        line-height: 80px;
        border-bottom: 2px solid $light-color;
        margin: 50px 0;
    }

    &__listA {
        font-size: 40px;
        margin: 20px 100px;  
        text-align: center; 
        display: flex;     
        
        i {
            margin: 0 20px;
            font-size: 80px;
            color: $bright-color;
        }

    }

        




    &__listB {
        font-size: 30px;
        list-style: none;
        padding: 30px 100px;
    }
}