//colors
$bg-main-color: rgba(31, 33, 38, 1);
$menu-color: rgba(9, 10, 12, 1);
$projects-color: rgba(135, 154, 191, 1);
$skills-color: rgba(63, 63, 63, 1);
$grey-color: rgba(114, 114, 113, 1);
//fonts
// font-family: 'Stick No Bills', sans-serif; font-weight: 200; font-weight: 600;
$special-font: 'Stick No Bills', 'arial', sans-serif;