//colors
$menu-color: #000; //footer
$bg-color: rgba(34, 39, 37, 1); // 
$home-color: #616f39; //skils
$projects-color: #3e432e; //contact, icons (wrapper)
$light-color: rgba(247, 247, 242, 1);
$bright-color: #a7d129;
//fonts
// font-family: 'Stick No Bills', sans-serif; font-weight: 200; font-weight: 600;
$special-font: 'Stick No Bills', 'arial', sans-serif;


// $menu-color: rgba(12, 12, 12, 1); //footer
// $bg-color: rgba(183, 187, 191, 1); // 
// $home-color: rgba(82, 114, 93, 1); //skils
// $projects-color: rgba(40, 63, 48, 1); //contact, icons (wrapper)
// $light-color: rgba(242, 242, 242, 1);

// .color1 {color: #56642a;}
// .color2 {color: #849531;}
// .color3 {color: #92a332;}
// .color4 {color: #000;}
// .color5 {color: #fff;}

// .color1 {color: #164a41;}
// .color2 {color: #4d774e;}
// .color3 {color: #9dc88d;}
// .color4 {color: #f1b24a;}
// .color5 {color: #ffffff;}

// .color1 {color: #12232e;}
// .color2 {color: #007cc7;}
// .color3 {color: #4da8da;}
// .color4 {color: #203647;}
// .color5 {color: #eefbfb;}

// $bg-main-color: rgba(31, 33, 38, 1);
// $menu-color: rgba(9, 10, 12, 1);
// $projects-color: rgba(135, 154, 191, 1);
// $skills-color: rgba(63, 63, 63, 1);
// $grey-color: rgba(114, 114, 113, 1);