//colors
$menu-color: rgba(12, 12, 12, 1); //footer
$bg-color: rgba(183, 187, 191, 1); 
$home-color: rgba(82, 114, 93, 1); //skils
$projects-color: rgba(40, 63, 48, 1); //contact, icons (wrapper)
$light-color: rgba(242, 242, 242, 1);
$bright-color: #f1b24a;
//fonts
// font-family: 'Stick No Bills', sans-serif; font-weight: 200; font-weight: 600;
$special-font: 'Stick No Bills', 'arial', sans-serif;
